.DashboardCard{
    padding: 20px;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.DashboardCard h1{
    font-size: 1.5rem;
}

.ActiveElectionTable{
    text-align: center;
}

.ActiveElectionThead{
    width: 100%;
    display: table;
    table-layout:fixed;
    width: calc( 100% - 1em );
}

.ActiveElectionTbody{
    max-height: 142.5px;
    display: block;
    overflow-y: scroll;
}

.ActiveElectionTr{
    display: table;
    width: 100%;
    table-layout: fixed;
}